<center><h1><strong>tau-data Indonesia</strong></h1></center>
<center><h2><strong><font color="blue">Pendahuluan SQL dasar untuk Data Science - 01</font></strong></h2></center>
<img alt="" src="images/cover.jpg" />

<b><center>(C) Taufik Sutanto</center>
    <center><h3><font color="blue">https://tau-data.id/dfds-01/</font></h3></center>

# Instalasi:

* XAMPP: https://www.apachefriends.org/download.html
* IBM Watson: https://www.ibm.com/cloud/sql-query

## PHPMyAdmin: Obat Sakit Kepala
* http://localhost/phpmyadmin/index.php

In [ ]:
!pip install --upgrade mysql-connector-python

In [ ]:
import mysql.connector as mysql
import pandas as pd
from time import time

# Koneksi ke MySQL lokal

In [ ]:
par = {'db_': 'fga', 'usr':'root', 'pas':'', 'hst':'localhost'}

# Mitra tau-data silahkan menggunakan server cloud tau-data Indonesia.

## Credentials akan diberikan lewat jalur private

In [ ]:
par['db_'], par['hst']

In [ ]:
def conMql(dbPar, maxTry=3):
    try_ = 0
    while try_<maxTry:
        try:
            return mysql.connect(host=dbPar['hst'],user=dbPar['usr'],passwd=dbPar['pas'],db=dbPar['db_'])
        except (mysql.Error) as e:      
            print ("Error Connecting to MySQL %d: %s, please wait retrying" % (e.args[0],e.args[1]))
            try_ += 1; time.sleep(1)

In [ ]:
db = conMql(par)
db

# Catatan:

* Buka PHPMyAdmin ==> Generate Query untuk membantu pemula di Query Dasar
* "Bisa karena terbiasa" ==> jangan hawatir untuk "mengingat"

In [ ]:
qry = "CREATE TABLE `mahasiswa` ( `nim` VARCHAR(12) NOT NULL COMMENT 'Nomer Induk Mahasiswa' , \
       `nama_lengkap` VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL COMMENT \
       'Nama Lengkap' , `jenis_kelamin` VARCHAR(1) CHARACTER SET ascii COLLATE ascii_general_ci \
       NOT NULL COMMENT 'Jenis Kelamin P atau W' , `angkatan` YEAR NOT NULL COMMENT \
       'Tahun Masuk UIN Jakarta' , PRIMARY KEY (`nim`)) \
       ENGINE = MyISAM CHARSET=utf8 COLLATE utf8_general_ci COMMENT = 'Tabel Mahasiswa UIN Jakarta';"
db = conMql(par)
cur = db.cursor()
res = cur.execute(qry)
cur.close()
db.close()
res

In [ ]:
qry = "SHOW TABLES"
db = conMql(par)
cur = db.cursor()
cur.execute(qry)
data = cur.fetchall() # lakukan Pagination untuk data yang sangat besar
cur.close(); db.close()

data

# Catatan:

* Di dunia nyata "jenis kelamin"/gender .. Most likely Boolean.
* Module ini untuk Data Scientist (bukan Data Engineer), untuk sementara waktu kita hiraukan terlebih dahulu.

## Well-known Engine:
* MyISAM
* InnoDB
* memory

In [ ]:
qry = "INSERT INTO `mahasiswa` (`nim`, `nama_lengkap`, `angkatan`, `jenis_kelamin`) \
       VALUES ('1234', 'bambang', '2016', 'P'), ('1235', 'Wati', '2017', 'W'), \
       ('1239', 'Iwan', '2017', 'P');"
db = conMql(par)
cur = db.cursor()
result = cur.execute(qry)
cur.close()
db.close()

In [ ]:
qry = "SELECT * FROM mahasiswa"

db = conMql(par)
cur = db.cursor()
cur.execute(qry)
data = cur.fetchall() # lakukan Pagination untuk data yang sangat besar
cur.close(); db.close()

In [ ]:
data

# More Practical Way untuk Data Scientist/Analyst: Use Pandas

In [ ]:
qry = "SELECT * FROM mahasiswa"

db = conMql(par)
data = pd.read_sql(qry, db)

In [ ]:
data.head()

# Contoh Data

<img alt="" src="images/qry_joins_01.png" />

In [ ]:
# Create Table 2
qry = "CREATE TABLE committees (committee_id INT AUTO_INCREMENT, name VARCHAR(100), PRIMARY KEY (committee_id));"
db = conMql(par)
cur = db.cursor()
res = cur.execute(qry)
cur.close(); db.close()
'Done'

In [ ]:
# Create Table 1
qry = "CREATE TABLE members (member_id INT AUTO_INCREMENT, name VARCHAR(100), PRIMARY KEY (member_id))"
db = conMql(par)
cur = db.cursor()
res = cur.execute(qry)
cur.close(); db.close()
'Done'

In [ ]:
# Insert Data 2
qry = "INSERT INTO committees (name) VALUES ('John'), ('Mary'), ('Amelia'), ('Joe')"
db = conMql(par)
cur = db.cursor()
res = cur.execute(qry)
db.commit() # Hati-hati ... Butuh tambahan perintah ini!!!
cur.close(); db.close()
'Done'

In [ ]:
# Insert Data 1
qry = "INSERT INTO members (name) VALUES('John'),('Jane'),('Mary'),('David'),('Amelia');"
db = conMql(par)
cur = db.cursor()
res = cur.execute(qry)
db.commit() # Hati-hati ... Butuh tambahan perintah ini!!!
cur.close(); db.close()
'Done'

In [ ]:
# Query to DataFrame
db = conMql(par)
query = "SELECT * FROM committees" # or members
data = pd.read_sql(query, db)
data.head()

In [ ]:
# order by
db = conMql(par)
query = "SELECT * FROM committees ORDER BY name"
data = pd.read_sql(query, db)
data.head()

In [ ]:
# add new names
qry = "INSERT INTO committees (name) VALUES('John'),('Mary'),('Amelia'),('Bambang');"
db = conMql(par)
cur = db.cursor()
res = cur.execute(qry)
db.commit() # Hati-hati ... Butuh tambahan perintah ini!!!
cur.close(); db.close()

In [ ]:
# order by
db = conMql(par)
query = "SELECT * FROM committees ORDER BY name"
data = pd.read_sql(query, db)
data.head(10)

In [ ]:
# group by
db = conMql(par)
query = "SELECT * FROM committees GROUP BY name" # or members
data = pd.read_sql(query, db)
data.head(10)

In [ ]:
# Select Distinct
db = conMql(par)
query = "SELECT DISTINCT(name) FROM committees" # or members
data = pd.read_sql(query, db)
data.head(10)

In [ ]:
# WHERE clause
db = conMql(par)
query = "SELECT * FROM committees WHERE committee_id>4" # or members
data = pd.read_sql(query, db)
data.head(10)

# Search with index - Magick command

In [ ]:
%lsmagic

In [ ]:
%%timeit

db = conMql(par)
query = "SELECT * FROM committees WHERE name='John'" # or members
data = pd.read_sql(query, db)

In [ ]:
# Hati-hati var "data" tidak disimpan ke memori akibat penggunaan Magic Command "timeit"

# Sekarang kita coba tambahkan index di field "name"

In [ ]:
qry = "ALTER TABLE committees ADD FULLTEXT name (name);"
db = conMql(par)
cur = db.cursor()
res = cur.execute(qry)
cur.close();db.close()
'Done'

# Sekarang kita coba Query lagi dan analisa performanya

* Catt: pada data yang kecil mungkin tidak signifikan, tapi pada data yang besar sangat besar pengaruhnya.

In [ ]:
%%timeit

db = conMql(par)
query = "SELECT * FROM committees WHERE name LIKE '%ohn%'" # or members
data = pd.read_sql(query, db)

In [ ]:
data.head()

# SQL Joins

Perintah JOIN dalam SQL digunakan untuk menampilkan data pada table yang saling berhubungan atau berelasi. Artinya kita dapat menampilkan data dalam beberapa table hanya dengan satu kali perintah.

<img alt="" src="images/sql_joins.jpg" />

# 1. inner Join (irisan) - Join Predicate

## Membandingkan setiap baris di Tabel 1 & 2 kemudian menambahkan jika kondisi join keduanya benar (True).

In [ ]:
# Query to DataFrame Kita lihat dulu datanya
db = conMql(par)
dt1 = pd.read_sql("SELECT * FROM committees", db)
dt2 = pd.read_sql("SELECT * FROM members", db)

pd.concat([dt1.reset_index(drop=1),dt2.reset_index(drop=1)], axis=1)

In [ ]:
db = conMql(par)
query = "SELECT m.member_id, m.name member, c.committee_id, c.name committee \
        FROM members m \
        INNER JOIN committees c \
        ON c.name = m.name"
data = pd.read_sql(query, db)
data.head(10)

# LEFT JOIN 
<img alt="" src="images/sql_joins.jpg" />


## Untuk setiap data dari tabel pertama (kiri/Left), buat data baru hanya jika ada padanannya di tabel kanan.

In [ ]:
# Query to DataFrame Kita lihat dulu datanya
db = conMql(par)
dt1 = pd.read_sql("SELECT * FROM committees", db)
dt2 = pd.read_sql("SELECT * FROM members", db)
pd.concat([dt1.reset_index(drop=1),dt2.reset_index(drop=1)], axis=1)

In [ ]:
query = "SELECT m.member_id, m.name member, c.committee_id, c.name committee\
        FROM members m\
        LEFT JOIN committees c USING(name)"
db = conMql(par)
data = pd.read_sql(query, db)
data.head(10)

# Bisa juga

* Catt hati-hati performa query
* ini left join

In [ ]:
query = "SELECT member_id, name\
        FROM members \
        WHERE name IN\
        (SELECT name FROM committees)"
db = conMql(par)
data = pd.read_sql(query, db)
data.head(10)

# CROSS JOIN
<img alt="" src="images/cj.png" />


## Tidak seperti inner, left/right, Cross Join tidak punya kondisi. CJ, menggabungkan setiap kolom di kiri dan kanan tabel. 
* Kalau tabel 1 ada N baris dan Tabel 2 ada M baris, maka CJ menghasilkan NxM baris.
* Null tidak ikut CJ

In [ ]:
# Query to DataFrame Kita lihat dulu datanya
db = conMql(par)
dt1 = pd.read_sql("SELECT * FROM committees", db)
dt2 = pd.read_sql("SELECT * FROM members", db)
pd.concat([dt1.reset_index(drop=1),dt2.reset_index(drop=1)], axis=1)

In [ ]:
query = "SELECT m.member_id, m.name member, c.committee_id, c.name committee\
        FROM members m\
        CROSS JOIN committees c"
db = conMql(par)
data = pd.read_sql(query, db)
data.head(30)

# End of Module

<img alt="" src="images/meme_joins.png" />