# <center><font color="green">https://taudataid.github.io/eda01/</font><br><font color="blue">Exploratory Data Analysis (EDA) 01 ~ Preprocessing</font></center>

<center><img alt="" src="images/covers/Cover_EDA.png"/></center> 

## <center><font color="blue">tau-data Analytics</font><br>(C) Taufik Sutanto - 2022</center>
<center><a href="https://taudataid.github.io/">https://taudataid.github.io/</a></center>

# <center><font color="blue"> Outline Exploratory Data Analysis (EDA) ~ Preprocessing</font></center>

* Pendahuluan Exploratory Data Analysis (EDA)
* Business & Data Understanding
* Penjelasan umum Data Preprocessing
* Loading/Import Data
    * Dictionary or List to Pandas Dataframe
    * Import CSV dan Excel to Dataframe
    * Show data (head, tail, sample, transpose)
    * Data Types & Information
* Basic (Descriptive) Statistics & Why it is so important
* Preprocessing data
 * Drop Row & Columns
 * Detecting & Dealing with Noise
 * Detecting & Dealing with 1D outliers
 * Detecting & Dealing with Duplicates
* Missing Values
 * Missing Values Detection & treatments
 * Missing at Random (MaR)
 * Basic Imputation
* Dealing with Categorical Data
 * Dummy Variables/One-hot-Encoding
* Writing Preprocessed Data
* Dealing with Time Data
    * With DateTime module
    * With Pandas

# <center><font color="blue">  Pendahuluan EDA</font></center>

* EDA bagaikan jiwa bagi semua proses analisa data. Kemampuan untuk melakukan EDA dengan baik adalah syarat dasar utama bagi seluruh profesi yang terkait dengan pengolahan data, baik itu data analyst, data scientist, data engineer, AI engineer, dan sebagainya. 
* EDA juga menjadi tahapan awal dari kebanyakan proses analisa data dan menjadi suatu tahapan yang amat menentukan seberapa baik analisa data maupun pemodelan selanjutnya akan dihasilkan (prediksi/forecasting).
* Komponen EDA meliputi preprocessing, perhitungan berbagai nilai statistik dasar, visualisasi, penyusunan hipotesis (dugaan awal), pemeriksaan asumsi, hingga story-telling dan reporting. Di dalamnya juga termasuk proses penanganan missing values, outlier, reduksi dimensi, pengelompokkan, transformasi dan distribusi data.
* Tools: Python (Pandas), R, S-Plus, etc
    
<center><img alt="" src="images/edamethods.png" style="height: 300px;" /></center>

# <center><font color="blue">  Tahap Pertama dan Terpenting EDA adalah "Business & Data Understanding"</font></center>

### <font color="green"> Dilakukan sebelum Data Preprocessing/Preparation.</font>
    
* Apa tujuan Machine Learning/AI kita?
* Data apa yang tersedia?
* Seberapa banyak (dan lama) data tersedia?
* Ada yang memiliki label? (Variabel Target)
* Apakah data ini relevan? Atau bisa dibuat relevan?
* Bagaimana dengan kualitas data ini?
* Ada data tambahan (eksternal)?
* Siapa yang memahami tentang data ini dengan baik di perusahaan?
    
<center><img alt="" src="images/crisp-dm.jpg" style="height: 300px;" /></center>

# <center><font color="blue">Data Terstruktur & Tidak Terstruktur</font></center>

<center><img alt="" src="images/tipeData_2.png" style="height: 400px;"/></center>

# <center><font color="blue">Data Terstruktur & Tidak Terstruktur</font></center>

<center><img alt="" src="images/Tipe_Data_Stevens.png" style="height: 350px;"/></center>

# <center><font color="blue">  Data(set) </font></center>

* Koleksi entitas/objek data dan atributnya
* Atribut adalah sifat atau karkteristik dari objek
* Contoh pada objek manusia: umur, berat badan, tinggi badan, jenis kelamin, dsb.
* Setiap atribut memiliki beberapa kemungkinan "state", sebagai contoh: pria/wanita.
* koleksi atribut mendefinisikan suatu objek.
    
<center><img alt="" src="images/Dataset.png" style="height: 300px;" /></center>

# <center><font color="blue">  Variabel target (dependent) dan prediktor (independent)</font></center>

<img alt="" src="images/Dependent-Independent.png" style="height: 300px;" />
    
* **<u>Interdependence Methods</u>** (Unsupervised Learning): Model-model Machine Learning/statistika dimana tidak ada dugaan suatu variable dipengaruhi/memengaruhi variabel yang lain (tidak ada konsep target/prediktor).<br />
	Contoh: Analisis cluster (pengelompokan),&nbsp;principal component analysis&nbsp;(PCA)*.
* **<u>Dependence Methods</u>** (Supervised Learning): Model-model Machine Learning/Statistika dimana sebagian variabel diduga memengaruhi/dipengaruhi variabel yang lain.<br />
	Contoh: Regresi, klasifikasi&nbsp;(SVM/Decision Tree/neural network).
* Namun demikian akhir-akhir ini terdapat cukup banyak penelitian dimana domain permasalahannya terletak di antara keduanya (<u><a href="https://en.wikipedia.org/wiki/Semi-supervised_learning" target="_blank">Semi-</a></u><u><a href="https://en.wikipedia.org/wiki/Semi-supervised_learning" target="_blank">Supervised</a></u><u><a href="https://en.wikipedia.org/wiki/Semi-supervised_learning" target="_blank"> </a></u><u><a href="https://en.wikipedia.org/wiki/Semi-supervised_learning" target="_blank">Learning</a></u>.

# <center><font color="blue">  Data Cleaning, Cleansing, Munging, Wrangling?</font></center>

<img alt="" src="images/data cleaning ceansing wrangling munging preprocessing preparation _.png" style="height: 300px;" />
    
* Cleaning dan cleansing sebenarnya menurut standar formal berbeda: https://indica.nl/blog/2021/3/16/what-is-the-difference-between-data-cleansing-and-data-cleaning namun dalam keseharian bisa digunakan satu-sama-lain (hati-hati kalau dalam kontrak bisnis formal).
* Banyaknya istilahnya "membingungkan", biasanya lebih "aman"/umum menggunakan terminology **data preprocessing**

# <center><font color="blue"> Mengapa perlu preprocessing?</font></center>
## <font color="green"> Garbage in-Garbage out</font>

* Data di dunia nyata biasanya tidak sebersih/indah data di buku akademik.
  - Noise: Misal gaji bernilai negatif
  - Ouliers: Misal seseorang dengan penghasilan >500 juta/bulan.
  - Duplikasi: Banyak di media sosial
  - Encodings, dsb: Banyak di Big Data, karena masalah bagaimana data disimpan/join.
* Tidak lengkap: hanya agregat, kurang variabel penting, dsb.
* Analisa pada data yang tidak di preprocess biasanya menghasilkan insight yang tidak/kurang tepat atau model yang tidak memiliki performa yang baik.
    
<img alt="" src="images/data_preprocessing_01.png" style="height: 300px;" />

<img alt="" src="images/data_preprocessing_02.jpg" style="height: 600px;" />

In [2]:
# Importing Some Python Modules
import warnings; warnings.simplefilter('ignore')
import pandas as pd

# <center><font color="blue"> Pandas Dataframe</font></center>

<center><img alt="" src="images/pandas_dataframe_structure.jpg" style="height: 350px;" /></center>

* Pandas Dataframe dapat dibentuk dari **Dictionary** atau **List/Tuples**

In [2]:
# Dataframe dari Dictionary
D = {'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age' : [23, 21, 22, 21],
    'University' : ['BHU', 'JNU', 'DU', 'BHU']} 
df = pd.DataFrame(D)
df

        Name  Age University
0      Ankit   23        BHU
1  Aishwarya   21        JNU
2    Shaurya   22         DU
3   Shivangi   21        BHU

In [3]:
# Dataframe dari List
Name = ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi']
Age = [23, 21, 22, 21]
University = ['BHU', 'JNU', 'DU', 'BHU'] 
df = pd.DataFrame(zip(Name, Age, University), columns=['Name', 'Age', 'University'])
df

        Name  Age University
0      Ankit   23        BHU
1  Aishwarya   21        JNU
2    Shaurya   22         DU
3   Shivangi   21        BHU

In [4]:
# # Slicing index bekerja seperti List, tapi harus hati-hati.
print(df.index)
df[1:3]

RangeIndex(start=0, stop=4, step=1)

        Name  Age University
1  Aishwarya   21        JNU
2    Shaurya   22         DU

# <center><font color="blue"> OK, Let's Start!: Import-Loading Data</font></center>

<center><img alt="" src="images/meme-cartoon/Reading-and-Writing-Data-With-Pandas.jpg" style="height: 300px;" /></center>

# <center><font color="blue"> Studi Kasus</font></center>

* Sumber Data: http://byebuyhome.com/
* Objective: menemukan harga rumah yang berada di bawah pasaran untuk melakukan investasi.
* Variable:
 - **Dist_Taxi** – distance to nearest taxi stand from the property
 - **Dist_Market** – distance to nearest grocery market from the property
 - **Dist_Hospital** – distance to nearest hospital from the property
 - **Carpet** – carpet area of the property in square feet
 - **Builtup** – built-up area of the property in square feet
 - **Parking** – type of car parking available with the property
 - **City_Category** – categorization of the city based on the size
 - **Rainfall** – annual rainfall in the area where property is located
 - **House_Price** – price at which the property was sold

<img alt="" src="images/property-investment-analysis.jpg" style="height: 250px;" />

# <center><font color="blue"> Import-Loading Data CSV / Excel Data via Pandas</font></center>

<img alt="" src="images/pandas load csv excel.png" style="height: 150px;" />

* Importing CSV file  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
* Importing Excel file  https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html
* Encodings https://docs.python.org/3/library/codecs.html#standard-encodings

In [3]:
file_ = 'data/price.csv'
try: # Running Locally, yakinkan "file_" berada di folder "data"
    price = pd.read_csv(file_, error_bad_lines=False, low_memory = False, encoding='utf8')
except: # Running in Google Colab
    !mkdir data
    !wget -P data/ https://raw.githubusercontent.com/taudata-indonesia/eLearning/master/data/price.csv
    price = pd.read_csv(file_, error_bad_lines=False, low_memory = False, encoding='utf8')
    
N, P = price.shape # Ukuran Data
print('baris = ', N, ', Kolom (jumlah variabel) = ', P)
print("Tipe Variabe df = ", type(price))
price

baris =  936 , Kolom (jumlah variabel) =  10
Tipe Variabe df =  <class 'pandas.core.frame.DataFrame'>

,Observation,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price
0,1,9796.0,5250.0,10703.0,1659.0,1961.0,Open,CAT B,530,6649000
1,2,8294.0,8186.0,12694.0,1461.0,1752.0,Not Provided,CAT B,210,3982000
2,3,11001.0,14399.0,16991.0,1340.0,1609.0,Not Provided,CAT A,720,5401000
3,4,8301.0,11188.0,12289.0,1451.0,1748.0,Covered,CAT B,620,5373000
4,5,10510.0,12629.0,13921.0,1770.0,2111.0,Not Provided,CAT B,450,4662000
...,...,...,...,...,...,...,...,...,...,...
931,932,9297.0,12537.0,14418.0,1174.0,1429.0,Covered,CAT C,1110,5434000
932,933,10915.0,17486.0,15964.0,1549.0,1851.0,Not Provided,CAT C,1220,7062000
933,934,9205.0,10418.0,14496.0,1118.0,1337.0,Open,CAT A,560,7227000
934,935,10915.0,17486.0,15964.0,1549.0,1851.0,Not Provided,CAT C,1220,7062000
935,936,10915.0,17486.0,15964.0,1549.0,1851.0,Not Provided,CAT C,1220,7062000

# <center><font color="blue"> Bagaimana dengan File Excel?</font></center>
## <font color="green"> Karena deprecated support, maka harus install module "openpyxl" terlebih dahulu</font>

* Importing Excel file  https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html
* openpyxl https://openpyxl.readthedocs.io/en/stable/
<center><img alt="" src="images/meme-cartoon/openpyxl.jpg" style="height: 300px;" /></center>

In [6]:
# Ingat module 02, jika anda menjalankan Jupyter notebook ini secara lokal, maka perlu penyesuaian
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\anaconda3\envs\py37\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\anaconda3\envs\py37\lib\site-packages (from openpyxl) (1.1.0)

In [4]:
file_ = 'data/price.xlsx'
try: # Running Locally 
    xl = pd.ExcelFile(file_, engine = 'openpyxl')
except: # Running in Google Colab
    !mkdir data
    !wget -P data/ https://raw.githubusercontent.com/taudata-indonesia/eLearning/master/{file_}
    xl = pd.ExcelFile(file_, engine = 'openpyxl')


sheets_ = xl.sheet_names
print(sheets_)
price = xl.parse(sheets_[0], header=0) #biasakan tidak menulis nama sheet secara langsung

N, P = price.shape # Ukuran Data
print('baris = ', N, ', Kolom (jumlah variabel) = ', P)
print("Tipe Variabe df = ", type(price))
price

['price1', 'price2']
baris =  936 , Kolom (jumlah variabel) =  10
Tipe Variabe df =  <class 'pandas.core.frame.DataFrame'>

,Observation,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price
0,1,9796.0,5250.0,10703.0,1659.0,1961.0,Open,CAT B,530,6649000
1,2,8294.0,8186.0,12694.0,1461.0,1752.0,Not Provided,CAT B,210,3982000
2,3,11001.0,14399.0,16991.0,1340.0,1609.0,Not Provided,CAT A,720,5401000
3,4,8301.0,11188.0,12289.0,1451.0,1748.0,Covered,CAT B,620,5373000
4,5,10510.0,12629.0,13921.0,1770.0,2111.0,Not Provided,CAT B,450,4662000
...,...,...,...,...,...,...,...,...,...,...
931,932,9297.0,12537.0,14418.0,1174.0,1429.0,Covered,CAT C,1110,5434000
932,933,10915.0,17486.0,15964.0,1549.0,1851.0,Not Provided,CAT C,1220,7062000
933,934,9205.0,10418.0,14496.0,1118.0,1337.0,Open,CAT A,560,7227000
934,935,10915.0,17486.0,15964.0,1549.0,1851.0,Not Provided,CAT C,1220,7062000
935,936,10915.0,17486.0,15964.0,1549.0,1851.0,Not Provided,CAT C,1220,7062000

# <center><font color="blue"> Prefer XLS atau CSV di Data Science/Machine Learning/AI</font></center><br><font color="green">Mengapa?</font>

<center><img alt="" src="images/excel_error.png" style="height: 300px;" /></center>

In [8]:
# "Mengintip" beberapa data pertamanya
price.head(7)

,Observation,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price
0,1,9796.0,5250.0,10703.0,1659.0,1961.0,Open,CAT B,530,6649000
1,2,8294.0,8186.0,12694.0,1461.0,1752.0,Not Provided,CAT B,210,3982000
2,3,11001.0,14399.0,16991.0,1340.0,1609.0,Not Provided,CAT A,720,5401000
3,4,8301.0,11188.0,12289.0,1451.0,1748.0,Covered,CAT B,620,5373000
4,5,10510.0,12629.0,13921.0,1770.0,2111.0,Not Provided,CAT B,450,4662000
5,6,6665.0,5142.0,9972.0,1442.0,1733.0,Open,CAT B,760,4526000
6,7,13153.0,11869.0,17811.0,1542.0,1858.0,No Parking,CAT A,1030,7224000

In [9]:
# Tips ... Gunakan Transpose untuk High-Dimensional Data (data dengan banyak kolom/variabel)
price.head().transpose()

                     0             1             2        3             4
Observation          1             2             3        4             5
Dist_Taxi       9796.0        8294.0       11001.0   8301.0       10510.0
Dist_Market     5250.0        8186.0       14399.0  11188.0       12629.0
Dist_Hospital  10703.0       12694.0       16991.0  12289.0       13921.0
Carpet          1659.0        1461.0        1340.0   1451.0        1770.0
Builtup         1961.0        1752.0        1609.0   1748.0        2111.0
Parking           Open  Not Provided  Not Provided  Covered  Not Provided
City_Category    CAT B         CAT B         CAT A    CAT B         CAT B
Rainfall           530           210           720      620           450
House_Price    6649000       3982000       5401000  5373000       4662000

In [10]:
# "Mengintip" beberapa data akhirnya
price.tail(7)

,Observation,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price
929,930,7423.0,11708.0,13220.0,1200.0,1436.0,Open,CAT A,1060,7644000
930,931,15082.0,14700.0,19617.0,1299.0,1560.0,Open,CAT B,770,9661000
931,932,9297.0,12537.0,14418.0,1174.0,1429.0,Covered,CAT C,1110,5434000
932,933,10915.0,17486.0,15964.0,1549.0,1851.0,Not Provided,CAT C,1220,7062000
933,934,9205.0,10418.0,14496.0,1118.0,1337.0,Open,CAT A,560,7227000
934,935,10915.0,17486.0,15964.0,1549.0,1851.0,Not Provided,CAT C,1220,7062000
935,936,10915.0,17486.0,15964.0,1549.0,1851.0,Not Provided,CAT C,1220,7062000

In [11]:
# chosen at random
price.sample(10)

,Observation,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price
583,584,6736.0,14813.0,14125.0,1723.0,2072.0,Covered,CAT A,560,8841000
145,146,4945.0,10098.0,9241.0,1795.0,2187.0,Open,CAT A,300,7653000
8,9,7495.0,11589.0,13370.0,1090.0,1321.0,Not Provided,CAT B,680,4631000
335,336,9464.0,10762.0,13998.0,1208.0,1459.0,Open,CAT C,930,4149000
386,387,5162.0,6611.0,9842.0,1398.0,1678.0,No Parking,CAT B,920,4803000
236,237,11355.0,11024.0,16005.0,1829.0,2175.0,No Parking,CAT A,870,9224000
640,641,5761.0,7680.0,10875.0,1529.0,1839.0,Open,CAT B,1000,5059000
418,419,6650.0,8409.0,12131.0,1848.0,2254.0,Open,CAT B,1000,5997000
615,616,8272.0,8092.0,12626.0,1609.0,1930.0,Open,CAT B,740,7647000
427,428,11246.0,10333.0,13997.0,1625.0,1943.0,Not Provided,CAT A,680,7452000

# <center><font color="blue">Perintah ".sample" bisa untuk sampling yang akan digunakan sebagai training data di machine Learning</font></center>

## <font color="green">Akan tetapi ada kelemahannya ... apakah?</font>

In [5]:
df_train = price.sample(500)
df_train.head(10) # perhatikan kolom "index-nya"

,Observation,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price
390,391,9689.0,10159.0,11554.0,1876.0,2254.0,No Parking,CAT C,1340,2165000
144,145,6502.0,9917.0,10173.0,1581.0,1905.0,Open,CAT B,810,6228000
31,32,8876.0,13372.0,15845.0,1715.0,2071.0,Open,CAT B,650,8486000
136,137,4233.0,10090.0,11422.0,1368.0,1654.0,No Parking,CAT A,530,6874000
924,925,9615.0,7904.0,12521.0,1451.0,1734.0,Open,CAT C,670,3488000
325,326,8362.0,9041.0,13899.0,1566.0,1889.0,Covered,CAT B,610,5640000
71,72,5858.0,8114.0,11026.0,1881.0,2262.0,No Parking,CAT C,570,4908000
230,231,12336.0,14878.0,17719.0,1390.0,1687.0,Open,CAT A,620,7399000
525,526,7073.0,14107.0,14781.0,1382.0,1660.0,No Parking,CAT A,1070,8372000
225,226,6209.0,10808.0,11285.0,1458.0,1725.0,Not Provided,CAT A,750,7555000

# <center><font color="blue"> "loc" VS "iloc" in Pandas Dataframe</font></center>

<center><img alt="" src="images/dataframe loc iloc.png" style="height: 350px;" /></center>

In [6]:
# Ganti "N" dengan index pertama di df_train
N = 390
try:
    print(df_train.loc[N]) 
except:
    print("Yakinkan nilai N adalah index pertama di df_train")

Observation             391
Dist_Taxi            9689.0
Dist_Market         10159.0
Dist_Hospital       11554.0
Carpet               1876.0
Builtup              2254.0
Parking          No Parking
City_Category         CAT C
Rainfall               1340
House_Price         2165000
Name: 390, dtype: object

In [7]:
df_train.iloc[0]['Parking']

'No Parking'

In [8]:
# Sehingga bisa digunakan untuk menentukan Test Data dari dataframe
df_test = price.loc[set(price.index) - set(df_train.index)]
print(df_test.shape)
df_test.head()

(436, 10)

,Observation,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price
0,1,9796.0,5250.0,10703.0,1659.0,1961.0,Open,CAT B,530,6649000
1,2,8294.0,8186.0,12694.0,1461.0,1752.0,Not Provided,CAT B,210,3982000
6,7,13153.0,11869.0,17811.0,1542.0,1858.0,No Parking,CAT A,1030,7224000
8,9,7495.0,11589.0,13370.0,1090.0,1321.0,Not Provided,CAT B,680,4631000
11,12,8066.0,11149.0,12936.0,1751.0,2098.0,No Parking,CAT B,720,5762000

# <center><font color="blue"> Iterating on dataframe (Sangat Penting)</font></center>
### <font color="green"> Banyak yang tidak menyarankan, tapi banyak situasi di dunia nyata yang memaksa kita melakukan hal ini.</font>

<center><img alt="" src="images/pandas iteration.png" style="height: 350px;" /></center>
    
* https://www.dataindependent.com/pandas/pandas-iterate-over-rows/

In [16]:
# Kita juga meng-iterasikan sebuah dataframe (jika diperlukan)
price['total_jarak'] = [0]*price.shape[0]
for i, d in price.iterrows():
    price['total_jarak'].loc[i] = d.Dist_Taxi + d.Dist_Market + d.Dist_Hospital

price.head().transpose()

                     0             1             2        3             4
Observation          1             2             3        4             5
Dist_Taxi       9796.0        8294.0       11001.0   8301.0       10510.0
Dist_Market     5250.0        8186.0       14399.0  11188.0       12629.0
Dist_Hospital  10703.0       12694.0       16991.0  12289.0       13921.0
Carpet          1659.0        1461.0        1340.0   1451.0        1770.0
Builtup         1961.0        1752.0        1609.0   1748.0        2111.0
Parking           Open  Not Provided  Not Provided  Covered  Not Provided
City_Category    CAT B         CAT B         CAT A    CAT B         CAT B
Rainfall           530           210           720      620           450
House_Price    6649000       3982000       5401000  5373000       4662000
total_jarak    25749.0       29174.0       42391.0  31778.0       37060.0

In [17]:
# Apply menggunakan "cython" sehingga lebih cepat
price['harga_jual'] = price['House_Price'].apply(lambda x: x + 250000)
# akan ada kolom baru di dataframe "price"
price.head(3)

,Observation,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price,total_jarak,harga_jual
0,1,9796.0,5250.0,10703.0,1659.0,1961.0,Open,CAT B,530,6649000,25749.0,6899000
1,2,8294.0,8186.0,12694.0,1461.0,1752.0,Not Provided,CAT B,210,3982000,29174.0,4232000
2,3,11001.0,14399.0,16991.0,1340.0,1609.0,Not Provided,CAT A,720,5401000,42391.0,5651000

# <center><font color="blue"> Removing variable(s) & Fixing Variable Type(s)</font></center>

<center><img alt="" src="images/pandas-dataframe-drop.png" style="height: 350px;" /></center>

In [18]:
# perhatikan perintahnya tidak menggunakan tanda "()" ==> Properties 
price.columns

Index(['Observation', 'Dist_Taxi', 'Dist_Market', 'Dist_Hospital', 'Carpet',
       'Builtup', 'Parking', 'City_Category', 'Rainfall', 'House_Price',
       'total_jarak', 'harga_jual'],
      dtype='object')

In [19]:
# Drop kolom pertama karena tidak berguna (hanya "observation" ~ index)
try: # Good practice untuk selalu gunakan Try-Except saat melakukan "drop" ... mengapa?
    price.drop(["Observation"], axis=1, inplace=True) # Parameter "inplace=True" penting saat datanya besar.
except Exception as err_:
    print(err_)
    
print(price.columns)
price.head(3)

Index(['Dist_Taxi', 'Dist_Market', 'Dist_Hospital', 'Carpet', 'Builtup',
       'Parking', 'City_Category', 'Rainfall', 'House_Price', 'total_jarak',
       'harga_jual'],
      dtype='object')

,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price,total_jarak,harga_jual
0,9796.0,5250.0,10703.0,1659.0,1961.0,Open,CAT B,530,6649000,25749.0,6899000
1,8294.0,8186.0,12694.0,1461.0,1752.0,Not Provided,CAT B,210,3982000,29174.0,4232000
2,11001.0,14399.0,16991.0,1340.0,1609.0,Not Provided,CAT A,720,5401000,42391.0,5651000

In [20]:
# Contoh hapus baris ke-1 dan ke-3
price.drop(price.index[[0,2]], inplace=True) # sengaja tidak menggunakan "inplace=True" ... perhatikan hasil cell setelah ini

In [21]:
price.head(4) # Apa yang terjadi?

,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price,total_jarak,harga_jual
1,8294.0,8186.0,12694.0,1461.0,1752.0,Not Provided,CAT B,210,3982000,29174.0,4232000
3,8301.0,11188.0,12289.0,1451.0,1748.0,Covered,CAT B,620,5373000,31778.0,5623000
4,10510.0,12629.0,13921.0,1770.0,2111.0,Not Provided,CAT B,450,4662000,37060.0,4912000
5,6665.0,5142.0,9972.0,1442.0,1733.0,Open,CAT B,760,4526000,21779.0,4776000

In [22]:
# di machine learning/AI/Data Science memahami Struktur Data adalah kunci penting untuk memahaminya
print( "type = ", type(price.index[[0,2]]),  "\nvalue = ",price.index[[0,2]]) 
# drop by int "index" kalau rows & nama column+axis=1 jika drop kolom

type =  <class 'pandas.core.indexes.numeric.Int64Index'>
value =  Int64Index([1, 4], dtype='int64')

In [23]:
# delete Rows dengan kondisi
price.drop(price[(price.House_Price > 6500000) & (price.House_Price < 9000000)].index, inplace=True)
# untuk mengingatnya, bayangkan saja "parameter" dari drop adalah int index seperti di penjelasan cell sebelumnya
print(price.shape)
price.head(7)

(610, 11)

,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price,total_jarak,harga_jual
1,8294.0,8186.0,12694.0,1461.0,1752.0,Not Provided,CAT B,210,3982000,29174.0,4232000
3,8301.0,11188.0,12289.0,1451.0,1748.0,Covered,CAT B,620,5373000,31778.0,5623000
4,10510.0,12629.0,13921.0,1770.0,2111.0,Not Provided,CAT B,450,4662000,37060.0,4912000
5,6665.0,5142.0,9972.0,1442.0,1733.0,Open,CAT B,760,4526000,21779.0,4776000
7,5882.0,9948.0,13315.0,1261.0,1507.0,Open,CAT C,1020,3772000,29145.0,4022000
8,7495.0,11589.0,13370.0,1090.0,1321.0,Not Provided,CAT B,680,4631000,32454.0,4881000
9,8233.0,7067.0,11400.0,1030.0,1235.0,Open,CAT C,1130,4415000,26700.0,4665000

# <center><font color="blue"> Mengoreksi Tipe variabel: "dtype" & "info"</font></center>

### <font color="green"> Salah satu kunci penting dalam memahami ML/AI/Data Science baik Teori maupun aplikasinya adalah "Struktur Data"</font>
    
<center><img alt="" src="images/pandas_dtypes.png" style="height: 350px;" /></center>

In [24]:
# tipe data di setiap kolom
# Wajib di periksa apakah tipe datanya sudah tepat?
# Perhatikan df sebagaimana semua variable di Python diperlakukan seperti object
price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 610 entries, 1 to 931
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Dist_Taxi      603 non-null    float64
 1   Dist_Market    603 non-null    float64
 2   Dist_Hospital  609 non-null    float64
 3   Carpet         604 non-null    float64
 4   Builtup        599 non-null    float64
 5   Parking        610 non-null    object
 6   City_Category  610 non-null    object
 7   Rainfall       610 non-null    int64
 8   House_Price    610 non-null    int64
 9   total_jarak    603 non-null    float64
 10  harga_jual     610 non-null    int64
dtypes: float64(6), int64(3), object(2)
memory usage: 57.2+ KB

In [25]:
price.dtypes # less information, tapi perhatikan struktur datanya (more useful).

Dist_Taxi        float64
Dist_Market      float64
Dist_Hospital    float64
Carpet           float64
Builtup          float64
Parking           object
City_Category     object
Rainfall           int64
House_Price        int64
total_jarak      float64
harga_jual         int64
dtype: object

In [26]:
# dataframe types: https://pbpython.com/pandas_dtypes.html
price['Parking'] = price['Parking'].astype('category')
price['City_Category'] = price['City_Category'].astype('category')
price.dtypes

Dist_Taxi         float64
Dist_Market       float64
Dist_Hospital     float64
Carpet            float64
Builtup           float64
Parking          category
City_Category    category
Rainfall            int64
House_Price         int64
total_jarak       float64
harga_jual          int64
dtype: object

# <center><font color="blue"> Variable Type Selection</font></center>
### <font color="green"> Slicing data berdasarkan Tipe sangat penting, karena visualisasi atau algoritma tertentu hanya untuk suatu tipe data tertentu juga.</font>
    
<center><img alt="" src="images/pandas subsetting.png" style="height: 250px;" /></center>

In [27]:
# Jika yang dibutuhkan memang hanya nama kolom, maka kita bisa melakukan hal ini untuk menghemat penggunaan memory
numVar = price.select_dtypes(include = ['float64', 'int64']).columns

numVar.to_list()

['Dist_Taxi',
 'Dist_Market',
 'Dist_Hospital',
 'Carpet',
 'Builtup',
 'Rainfall',
 'House_Price',
 'total_jarak',
 'harga_jual']

In [28]:
# Memilih hanya variable dengan tipe tertentu
numVar = price.select_dtypes(include = ['float64', 'int64'])
numVar.head() # Perhatikan numVar adalah variable df baru! (hati-hati di data yang besar)

,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Rainfall,House_Price,total_jarak,harga_jual
1,8294.0,8186.0,12694.0,1461.0,1752.0,210,3982000,29174.0,4232000
3,8301.0,11188.0,12289.0,1451.0,1748.0,620,5373000,31778.0,5623000
4,10510.0,12629.0,13921.0,1770.0,2111.0,450,4662000,37060.0,4912000
5,6665.0,5142.0,9972.0,1442.0,1733.0,760,4526000,21779.0,4776000
7,5882.0,9948.0,13315.0,1261.0,1507.0,1020,3772000,29145.0,4022000

In [29]:
# Memilih hanya variable dengan tipe tertentu
catVar = price.select_dtypes(include = ['`'])
catVar.head(3)

        Parking City_Category
1  Not Provided         CAT B
3       Covered         CAT B
4  Not Provided         CAT B

In [30]:
# get all unique values of a variable/column
for col in catVar.columns:
    print(col,': ', set(price[col].unique()))

Parking :  {'Open', 'No Parking', 'Not Provided', 'Covered'}
City_Category :  {'CAT C', 'CAT A', 'CAT B'}

# <center><font color="blue"> Memilih variabel-variabel di data secara manual</font></center>

In [31]:
# Choosing some columns manually
X = price[['House_Price','Dist_Market']] # perhatikan ada 2 tanda kurung siku "[[]]"
X.head(3)

   House_Price  Dist_Market
1      3982000       8186.0
3      5373000      11188.0
4      4662000      12629.0

In [32]:
# Slicing DataFrame - Just like query in SQL
price[price["City_Category"] == "CAT B"].drop("City_Category", axis=1).head()

,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,Rainfall,House_Price,total_jarak,harga_jual
1,8294.0,8186.0,12694.0,1461.0,1752.0,Not Provided,210,3982000,29174.0,4232000
3,8301.0,11188.0,12289.0,1451.0,1748.0,Covered,620,5373000,31778.0,5623000
4,10510.0,12629.0,13921.0,1770.0,2111.0,Not Provided,450,4662000,37060.0,4912000
5,6665.0,5142.0,9972.0,1442.0,1733.0,Open,760,4526000,21779.0,4776000
8,7495.0,11589.0,13370.0,1090.0,1321.0,Not Provided,680,4631000,32454.0,4881000

In [33]:
# Slicing DataFrame - Just like query in SQL
X = price[price["Parking"].isin(["Open","Covered"])]
X = X[X["City_Category"] == "CAT B"].drop("City_Category", axis=1)
X.head()

,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,Rainfall,House_Price,total_jarak,harga_jual
3,8301.0,11188.0,12289.0,1451.0,1748.0,Covered,620,5373000,31778.0,5623000
5,6665.0,5142.0,9972.0,1442.0,1733.0,Open,760,4526000,21779.0,4776000
12,7693.0,9130.0,14684.0,1746.0,2064.0,Open,1050,6047000,31507.0,6297000
13,5236.0,10853.0,13054.0,1615.0,1931.0,Covered,1160,5913000,29143.0,6163000
17,6698.0,11519.0,13441.0,1703.0,2045.0,Covered,670,3817000,31658.0,4067000

<img alt="" src="images/XII_desc_Stat.jpg" style="height: 350px;"/>

### image source: http://writer.lk/portfolio-item/statistics/

<center><img alt="" src="images/central_Tendency.png" style="height: 350px;"/>

# <center><font color="blue"> Central Tendency is not enough</font></center>

* Source: https://www.youtube.com/PeristiwaAlamAneh
<center><video controls src="videos/The_Need_for_Data_Disperity_.MP4" style="height: 400px;"/></center>

# <center><font color="blue"> Keragaman Data</font></center>

<img alt="" src="images/Data_Dispersions.png" style="height: 400px;"/>

In [34]:
# Statistika Sederhana dari data "Numerik"-nya
price.describe() # Ada variabel yang tidak ada?

,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Rainfall,House_Price,total_jarak,harga_jual
count,603.000000,603.000000,609.000000,604.000000,599.000000,610.000000,6.100000e+02,603.000000,6.100000e+02
mean,8071.605307,10870.878939,12897.663383,1512.407285,1785.781302,787.344262,5.334915e+06,31839.131012,5.584915e+06
std,2474.453885,2507.214891,2484.964506,960.968041,535.027553,267.319903,6.060567e+06,6428.903144,6.060567e+06
min,146.000000,1666.000000,3227.000000,775.000000,932.000000,-110.000000,3.000000e+04,5039.000000,2.800000e+05
25%,6377.500000,9147.500000,11198.000000,1309.000000,1571.500000,600.000000,4.157750e+06,27510.500000,4.407750e+06
50%,8117.000000,10946.000000,13083.000000,1475.000000,1770.000000,780.000000,5.013000e+06,32285.000000,5.263000e+06
75%,9705.500000,12611.000000,14566.000000,1642.500000,1965.500000,970.000000,5.838750e+06,36170.000000,6.088750e+06
max,20662.000000,20945.000000,23294.000000,24300.000000,12730.000000,1530.000000,1.500000e+08,64901.000000,1.502500e+08

In [35]:
price.describe(include='all')

,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price,total_jarak,harga_jual
count,603.000000,603.000000,609.000000,604.000000,599.000000,610,610,610.000000,6.100000e+02,603.000000,6.100000e+02
unique,NaN,NaN,NaN,NaN,NaN,4,3,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,Open,CAT B,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,244,285,NaN,NaN,NaN,NaN
mean,8071.605307,10870.878939,12897.663383,1512.407285,1785.781302,NaN,NaN,787.344262,5.334915e+06,31839.131012,5.584915e+06
std,2474.453885,2507.214891,2484.964506,960.968041,535.027553,NaN,NaN,267.319903,6.060567e+06,6428.903144,6.060567e+06
min,146.000000,1666.000000,3227.000000,775.000000,932.000000,NaN,NaN,-110.000000,3.000000e+04,5039.000000,2.800000e+05
25%,6377.500000,9147.500000,11198.000000,1309.000000,1571.500000,NaN,NaN,600.000000,4.157750e+06,27510.500000,4.407750e+06
50%,8117.000000,10946.000000,13083.000000,1475.000000,1770.000000,NaN,NaN,780.000000,5.013000e+06,32285.000000,5.263000e+06
75%,9705.500000,12611.000000,14566.000000,1642.500000,1965.500000,NaN,NaN,970.000000,5.838750e+06,36170.000000,6.088750e+06
max,20662.000000,20945.000000,23294.000000,24300.000000,12730.000000,NaN,NaN,1530.000000,1.500000e+08,64901.000000,1.502500e+08

# <center><font color="blue"> Beberapa Catatan Statistika Deskriptif</font></center>

* Modus tidak selalu ada
* Kapan saat yang lebih tepat menggunakan Mean atau Median (outlier-wise)
* Min/max dapat digunakan untuk mendeteksi Noise/Outlier
* Perbedaan noise dan outlier hanya dapat dilakukan lewat domain/business knowledge.
* Banyak literatur yang menyatakan outlier sebagai noise (outlier adalah subset/contoh noise).
* Outlier/noise harus "ditangani" saat preprocessing.
    
<center><img alt="" src="images/outlier vs noise.jpg" style="height: 400px;"/></center>

# <center><font color="blue"> Noisy (Big) Data</font></center>

## <font color="green"> Noise dapat terjadi karena:</font>
  - Kesalahan instrumen pengukuran: Misal di alat IoT pada saat cuaca buruk/baterai yang lemah.
  - Kesalahan input/entry
  - Transmisi yang tidak sempurna
  - inkonsistensi penamaan, dsb

<img alt="" src="images/noisy data.png" style="height: 250px;"/>

# <center><font color="blue"> Distribusi nilai pada setiap variabel kategorik</font></center>
### <font color="green"> Di module setelah ini kita akan menelaah lebih jauh lewat visualisasi</font>

* Pada tahap ini tujuan melihat distribusi variabel kategorik adalah bagian dari preprocessing/data cleaning, yaitu memeriksa apakah ada noise di variabel kategorik (biasanya typo).
* Jika variabel kategorik-nya adalah variabel target dan terjadi perbedaan proporsi yang mencolok maka tahap ini juga bermanfaat untuk mempersiapkan pemodelan imbalance learning pada tahap selanjutnya.
* Dapat dilakukan via fungsi "**value_counts**" di Pandas atau Fungsi "**Counter**" di module Collections.

In [36]:
price['Parking'].value_counts()

Open            244
Not Provided    152
Covered         114
No Parking      100
Name: Parking, dtype: int64

In [37]:
from collections import Counter

# Again: struktur data penting. Module Counter memberikan output dictionary yang biasanya lebih useful
Counter(price['Parking'])

Counter({'Not Provided': 152, 'Covered': 114, 'Open': 244, 'No Parking': 100})

# <center><font color="blue">Removing Duplicate Data</font></center>

<img alt="" src="images/XII_Duplicate-Data.png" style="height: 200px;" />

* Banyak di temukan di sistem Big Data.
* mempengaruhi model dan analisa yang berdasarkan frekuensi.
* Terkadang kita sengaja membuat duplikasi (misal pada kasus imbalanced learning).

image source: http://www.dagdoo.org/excel-learning/power-query/

In [44]:
price.head()

,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price,total_jarak,harga_jual
1,8294.0,8186.0,12694.0,1461.0,1752.0,Not Provided,CAT B,210,3982000,29174.0,4232000
3,8301.0,11188.0,12289.0,1451.0,1748.0,Covered,CAT B,620,5373000,31778.0,5623000
4,10510.0,12629.0,13921.0,1770.0,2111.0,Not Provided,CAT B,450,4662000,37060.0,4912000
5,6665.0,5142.0,9972.0,1442.0,1733.0,Open,CAT B,760,4526000,21779.0,4776000
7,5882.0,9948.0,13315.0,1261.0,1507.0,Open,CAT C,1020,3772000,29145.0,4022000

In [45]:
# mengecek apakah ada duplikat data sangatlah mudah menggunakan Pandas
# Bayangkan jika menggunakan Excel.
print(price.shape)
print("jumlah data yang duplikat", price.duplicated().sum()) 
price[price.duplicated() == True]
# Perhatikan kalau sebelumnya kita tidak "Drop" var observasi, 
# maka kita tidak akan mendapatkan duplikasi dengan cara ini.
# Apakah 4 duplikat termasuk "original data"

(610, 11)
jumlah data yang duplikat 0

Empty DataFrame
Columns: [Dist_Taxi, Dist_Market, Dist_Hospital, Carpet, Builtup, Parking, City_Category, Rainfall, House_Price, total_jarak, harga_jual]
Index: []

In [46]:
# Kita juga bisa mencari duplikat hanya berdasarkan kolom-kolom tertentu saja
price[price.duplicated(subset=['City_Category', "House_Price"])].head()

,Dist_Taxi,Dist_Market,Dist_Hospital,Carpet,Builtup,Parking,City_Category,Rainfall,House_Price,total_jarak,harga_jual
199,8704.0,13572.0,12349.0,1666.0,2000.0,Open,CAT C,480,3973000,34625.0,4223000
244,10612.0,8229.0,15696.0,1366.0,1649.0,Not Provided,CAT B,940,5278000,34537.0,5528000
399,NaN,NaN,12418.0,1477.0,1778.0,Open,CAT B,460,5786000,NaN,6036000
528,7360.0,8950.0,13140.0,1484.0,1774.0,Not Provided,CAT B,880,4508000,29450.0,4758000
569,4113.0,12277.0,10937.0,1633.0,1936.0,Open,CAT B,1320,4605000,27327.0,4855000

In [47]:
#menghapus entri yang memiliki data duplikat 
price.drop_duplicates(keep="first", inplace=True)
print(price.duplicated().sum()) # no more duplicates
print(price.shape) # re-check by printing data size

0
(610, 11)

# Saving (preprocessed) Data

In [61]:
# Saving the preprocessed Data for future use/analysis
price2.to_csv("data/price_PreProcessed.csv", encoding='utf8', index=False)

# <center><font color="blue"> Akhir Exploratory Data Analysis 01 ~ Dasar Preprocessing Data</font></center>

<hr />
<img alt="" src="images/meme-cartoon/6_ML_Class.jpg" style="height: 400px;"/>